<h1>Listing games</h1>

<table>
  <thead>
    <tr>
      <th>Goals1</th>
      <th>Goals2</th>
      <th>Team1</th>
      <th>Team2</th>
      <th>Group</th>
      <th>Game number</th>
      <th>Penalty1</th>
      <th>Penalty2</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.goals1 %></td>
        <td><%= game.goals2 %></td>
        <td><%= game.team1.name %></td>
        <td><%= game.team2.name %></td>
        <td><%= game.group.name	 %></td>
        <td><%= game.game_number %></td>
        <td><%= game.penalty1 %></td>
        <td><%= game.penalty2 %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
